*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #359381;
    min-height: 200vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 40px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 20px;
    z-index: 1000;
    background-color: #359381;
    border-radius: 30px;
}

header.sticky {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 5px 100px;
    background: #fff;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    padding: 6px 15px;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header ul li a:hover {
    padding: 6px 15px;

    background-color: #fff;
    color: #359381;
    border-radius: 20px;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(assets/candi.jpeg);
    background-size: cover;
    background-position: center;
}

header.sticky ul li a{
    color: #359381;
}

header.sticky a {
    color: #359381;
}

header.sticky ul li a:hover {
    padding: 6px 15px;

    background-color: #359381;
    color: #fff;
    border-radius: 20px;
}

.about {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,.70)), url(assets/fotbar1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    width: 80%;
    margin: auto;
    padding: 30px 0px;
    text-align: center;
}

article h1 {
    font-size: 120px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(0,0,0,0);
}

.about .hero img {
    margin: auto;
    display: block;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 3px solid #fff;
}

content {
    font-size: 17px;
    color: #ccc;
    line-height: 1.5;
}

article h5 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    margin-top: 30px;
    color: #fcba03;
}

article p {
    font-size: 18px;
    color: #fff;
}

.group {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 350px;
    height: 300px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(700px) rotate(0deg);
    }
    100% {
        transform: perspective(700px) rotateY(360deg);
    }
}

.slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d ;
    transform: rotateY(calc(var(--i)*60deg)) translateZ(350px);
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}

.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
}


.slides {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.slide-track {
    height: 300px;
    position: relative;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
    display: flex;
    overflow: hidden;
}

.slide {
    height: 300px;
    display: flex;
    animation: slideshow 12s linear infinite;
}

.slide img {
    height: 300px;
    width: 300px;
    padding: 0 30px 0 30px;
}

@keyframes slideshow {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.slideTwo {
    height: 300px;
    display: flex;
    animation: slideshowTwo 20s linear infinite;
}

.slideTwo img {
    border-radius: 30px;
    height: 300px;
    width: 300px;
    padding: 0 30px 0 30px;
}

@keyframes slideshowTwo {
    0% {
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}


footer {
    background: #fff;
    font-family: "Open Sans";
    padding-top:40px ;
    color: #359381;
}

.footer-conetnt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a{
    text-decoration: none;
}

.socials a i{
    color: #359381;
    font-size: 2rem;
    transition: color .4s ease;
}
.social a:hover i{
    color: #1ab396;
}

.footer-bottom{
    background: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    opacity: .4;
    font-weight: 200;
}

.footer-bottom span a{
    color: #1ab396;
    text-decoration: none;
}